body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    background-color: #ec008c;
    height: 50px;
    top: 10px;
}

.container{
    max-width: 1200px;
    padding: 0 40px;
    display: flex;
    flex-flow: row nowrap;
}

.site-header > .container > a {
    padding-top: 10px;
}

li{
    list-style-type: none;
}

ul.menu > li > a{
    text-decoration: none;
    color: #fff;
}

.menu:first-child {
    margin-left: 10vw;
}